## Домашнее задание 4

In [65]:
import pandas as pd

Вам дан файл `students_data.csv` с информацией о студентах и их оценками. 

* Задания с 1 по 5 весят по 0.5 баллов каждое
* Все остальные задания весят по 0.75

In [66]:
df = pd.read_csv('students_data.csv')
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,100,male,group B,some college,standard,none,group2,79,67,67
1,101,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,102,female,group D,associate's degree,standard,none,group2,85,91,89
3,103,male,group B,high school,standard,completed,group2,60,44,47
4,104,male,group C,some college,standard,completed,group2,98,86,90

## Задание 1

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [67]:
df.drop('index', axis=1, inplace=True)
df[:10]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90
5,female,group C,some college,standard,none,group2,58,67,72
6,female,group D,master's degree,standard,none,group2,87,100,100
7,male,group E,associate's degree,standard,completed,group2,66,63,64
8,female,group B,associate's degree,free/reduced,none,group2,52,76,70
9,female,group B,some high school,standard,none,group2,70,64,72

## Задание 2

Выведите на экран размеры полученной таблицы. Сколько в ней строк и столбцов?

In [68]:
df.shape

(1000, 9)

## Задание 3

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [69]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

## Задание 4

Проверьте, есть ли в таблице пропущенные значения

In [70]:
missing = df.isnull().sum()
print(missing)

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## Задание 5

Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [71]:
print(f"Mean math score: {df['math score'].mean()}")
print(f"Mean reading score: {df['reading score'].mean()}")
print(f"Mean writing score: {df['writing score'].mean()}")

Mean math score: 66.089
Mean reading score: 69.169
Mean writing score: 68.054

## Задание 6

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [72]:
print('Mean math score (course complited): {}'.format(df.query("`test preparation course` == 'completed'")['math score'].mean()))
print('Mean reading score (course complited): {}'.format(df.query("`test preparation course` == 'completed'")['reading score'].mean()))
print('Mean writing score (course complited): {}'.format(df.query("`test preparation course` == 'completed'")['writing score'].mean()))

print('Mean math score (course uncomplited): {}'.format(df.query("`test preparation course` != 'completed'")['math score'].mean()))
print('Mean reading score (course uncomplited): {}'.format(df.query("`test preparation course` != 'completed'")['reading score'].mean()))
print('Mean writing score (course uncomplited): {}'.format(df.query("`test preparation course` != 'completed'")['writing score'].mean()))

Mean math score (course complited): 69.69553072625699
Mean reading score (course complited): 73.89385474860335
Mean writing score (course complited): 74.41899441340782
Mean math score (course uncomplited): 64.0778816199377
Mean reading score (course uncomplited): 66.53426791277259
Mean writing score (course uncomplited): 64.50467289719626

## Задание 7 

Выведите на экран все различные значения из столбца lunch.

In [73]:
lunch_values= df['lunch'].unique()
for i in lunch_values:
    print(i, end='\n')

standard
free/reduced

## Задание 8

Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas [rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [74]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [75]:
passmark = 50

## Задание 9

Ответьте на вопросы:
* Какая доля студентов сдала экзамен по математике (passmark >= 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [76]:
print("Доля студентов, сдавших экзамен по математике: {:.1%}".format(len(df[df["math score"] >= passmark]) / len(df)))
print("Доля студентов, проходивших курс подготовки, сдавших экзамен по математике: {:.1%}".format(
    len(df[(df["math score"] >= passmark) & (df["test preparation"] == 'completed')]) / 
    len(df[df["test preparation"] == 'completed'])))
print("Доля женщин, не проходивших курс подготовки, не сдавших экзамен по математике: {:.1%}".format(
    len(df[(df["math score"] < passmark) & (df["test preparation"] != 'completed') & (df["gender"] == 'female')]) / 
    len(df[(df["test preparation"] != 'completed') & (df["gender"] == 'female')])))

Доля студентов, сдавших экзамен по математике: 86.5%
Доля студентов, проходивших курс подготовки, сдавших экзамен по математике: 92.2%
Доля женщин, не проходивших курс подготовки, не сдавших экзамен по математике: 21.0%

## Задание 10

С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [77]:
from time import time

start = time()
print("Средний балл за экзамен по чтению для каждой этнической группы: {}".format(df.groupby(['race/ethnicity'])['reading score'].mean()))
end = time()
print("Время выполнения: {}".format(end - start))

print('\n')

start = time()
print("Минимальный балл за экзамен по письму для каждой этнической группы: {}".format(df.groupby(['race/ethnicity'])['writing score'].min()))
end = time()
print("Время выполнения: {}".format(end - start))

Средний балл за экзамен по чтению для каждой этнической группы: race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
Время выполнения: 0.0010018348693847656


Минимальный балл за экзамен по письму для каждой этнической группы: race/ethnicity
group A    19
group B    15
group C    10
group D    32
group E    22
Name: writing score, dtype: int64
Время выполнения: 0.0010001659393310547

## Задание 11

Выполните задание 10 с помощью циклов. Сравните время выполнения.

In [78]:
start = time()
print("Средний балл за экзамен по чтению для каждой этнической группы: ")
for i in df.groupby(['race/ethnicity'])['reading score']:
    count = 0
    sum = 0
    for j in i[1]:
        # print(j)
        sum += j
        count += 1
    res = sum / count
    print(res)
    
end = time()
print("Время выполнения: {}".format(end - start))
print('\n')

start = time()
print("Минимальный балл за экзамен по письму для каждой этнической группы: ")
for i in df.groupby(['race/ethnicity'])['writing score']:
    min = 100
    for j in i[1]:
        if j < min:
            min = j
    print(min)

end = time()
print("Время выполнения: {}".format(end - start))

Средний балл за экзамен по чтению для каждой этнической группы:
64.67415730337079
67.35263157894737
69.10344827586206
70.03053435114504
73.02857142857142
Время выполнения: 0.0010004043579101562


Минимальный балл за экзамен по письму для каждой этнической группы:
19
15
10
32
22
Время выполнения: 0.001001119613647461

## Задание 12

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц – [pivot_table](https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas).

In [79]:
# your code here

## Задание 13

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [80]:
# your code here

## Задание 14

Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [81]:
# your code here

## Задание 15

Переведем баллы в оценки

**Система перевода баллов в оценки:**


* $x > 90 = A$
* $80 < x \leq 90 = B$
* $70 < x \leq 80 = C$
* $60 < x \leq 70 = D$
* $50 < x \leq 60 = E$
* $x \leq 50 = F (Fail) $

Пусть $x - $ средний балл студента за три экзамена.  

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [82]:
# def GetGrade(average_mark):
    # your code here    

# your code here